@using MediCon.WebUI.Controllers.Home.ViewModels
@model HomeIndexViewModel
<div class="dashboard-body">
<div class="dashboard-card">
        <h1 class="welcome-text">@Model.Greetings</h1>
</div>
</div>

@* <style>
    .dashboard-card{
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 200px; */
        height: 100%;
        width: 100%;
        padding: 20px;
        /* border: 1px solid #f16522; */
        border-radius: 8px;
        -webkit-box-shadow: 0px 1px 21px 0px rgba(193, 193, 193, 0.75);
    }

    .dashboard-body{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .welcome-text{
        font-weight: bold;
        color: #f16522;
        text-align:center;
    }
</style> *@
